.pointer {
  cursor: pointer;
}

.default {
  cursor: default;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.zui-table {
  border: none;
  border-right: solid 1px #DDEFEF;
  border-collapse: separate;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  /* transform:rotate(270deg); */
}

.zui-table thead th {
  background-color: #DDEFEF;
  border: 1px solid black;;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}

.zui-table tbody td {
  border-bottom: solid 1px #DDEFEF;
  color: #333;
  /* padding: 10px; */
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
  text-align: center;
}

.zui-wrapper {
  position: relative;
}

.zui-scroller {
  margin-left: 170px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 1px;
  padding-top: 5px;
  /* width: 300px; */
}

.zui-table .zui-sticky-col {
  border-left: solid 1px #DDEFEF;
  border-right: solid 1px #DDEFEF;
  left: 0;
  position: absolute;
  top: auto;
  width: 170px;
}

.comptablecellBG{
  background-color: rgb(255, 121, 121); 
}

.comptablecellWEBG{
  background-color: rgb(253, 255, 162); 
}

.comptablecellTodayBG{
  background-color: rgb(95, 151, 253); 
}

.comptablecellEveBG{
  background-color: rgb(184, 253, 182); 
}

.comptablecellHolidayBG{
  background-color: rgb(92, 250, 105); 
}